<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.covid_19visualizer">

    <!--    ADDED BY HARRY -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--    ADDED BY HARRY -->

    <!--    ADDED BY FEDERICO: INTERNET PERMISSION FOR NEWS FEED AND CHECKING FOR INTERNET CONNECTION -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/launch_icon_custom_v2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--    ADDED BY HARRY -->
        <activity android:name=".maps.MapsFragment" />
        <activity android:name=".news.NewsFragment" />
        <activity android:name=".info.InfoFragment" />
        <activity android:name=".news.NewsInDetails"/>
        <activity android:name=".maps.RegionInfoPopup" />
        <activity android:name=".quiz.DiagnosticQuiz" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!--    ADDED BY HARRY -->

    </application>

</manifest>